node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Created by https://www.toptal.com/developers/gitignore/api/cypressio
# Edit at https://www.toptal.com/developers/gitignore?templates=cypressio

### CypressIO ###
# gitignore template for the CypressIO, browser test framework
# website: https://www.cypress.io/

cypress/results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*

# End of https://www.toptal.com/developers/gitignore/api/cypressio
.env
